## <u>Introduction to Pandas</u>


What is Pandas?

Pandas is..... etc

### **Importing the Pandas Package**

To import Pandas into your working area you must run the command below

In [1]:
import pandas as pd

The ```import pandas``` part of this code imports the ```pandas``` package.

The ```as pd``` part of this sets ```pd``` as an alias for ```pandas``` to save you having to write out ```pandas``` in full everytime you call a function from the package into your code.

### **Importing a Dataset Using ```pd.read_csv()```**

The ```pd.read_csv()``` function can be used to import a dataset from a csv file into a Pandas Dataframe.

You do this by running the example command:
- ```df = pd.read_csv(path)```

Where:
- ```df``` is the name you give the Dataframe object within your Python code
- ```path``` is the string of the file path to your csv file that you want to import.

In the cell below, import the *Iris* dataset using the path: ```'iris.csv'```

In [2]:
###Import the Iris Dataset in this cell 
df = pd.read_csv('iris.csv')

### **Using ```df.head()```**

```df.head()``` can be used to display the first n number of rows found within the Pandas DataFrame. 

As a default, if no value of n is passed, the function will return the first 5 rows of the DataFrame (assuming ```df``` has already been defined as a Pandas Dataframe from Cell 2

For example:

In [3]:
df.head(n=5)

   Petal Length  Petal Width  Sepal Length  Sepal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In the cell below, type the code that will display the first 10 rows of the dataframe:

In [4]:
#Display the first 10 rows of the Iris Dataframe

Additionally, if you define n as a negative number (for example, ```df.head(n=-6)```), the last n rows of the dataframe will be displayed. In this example, the final 6 rows would be displayed.

### **Describing your Dataframe - some useful functions**

Pandas uses some simple functions to make understanding and describing your dataframe very easy. 

The first of these functions is the ```df.shape``` function. 

This function returns the shape of your dataframe in the format ```(rows, columns)```. Try it by running ```df.shape``` below:

In [5]:
#What is the shape of the iris dataframe?
df.shape

(150, 5)

Next, we have the ```df.describe()``` function. This function returns the summary statistics for each column found within the dataframe and returns them in a separate dataframe. Try it by running ```df.describe()``` below:

In [6]:
#Describe the iris dataframe
df.describe()

       Petal Length  Petal Width  Sepal Length  Sepal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

These functions are great for giving you a quick start to understanding the size and distribution of the values within your dataframe.

### **Column-wise operations on Pandas Dataframe**

You can perform operations on entire columns at once in Pandas - this is really useful for calculations such as add, subtract, multiply and divide. You can also assign these changes to new columns in order to preserve your original column data. In general, this is done by defining a new column and setting a value to it. 

For example, if I wanted to define a new column called ```new_column``` and set every value in the column to 0 (zero):
- ```df['new_column'] = 0```

Pandas has a number of built in functions for adding, subtracting, dividing and multiplying all values in a column by a _scalar value_. This can also be done in a number of alternative ways.

For example, if I wanted to add 5 to all values in the Petal Length column (in a new column called ```'Petal Length + 5'```, either:
- ```df['Petal Length + 5'] = df['Petal Length'] + 5```
- ```df['Petal Length + 5'] = df['Petal Length'].add(5)```

If I wanted to add 5 to all values in the Petal Length column (in a new column called ```'Petal Length - 5'```, either:
- ```df['Petal Length - 5'] = df['Petal Length'] - 5```
- ```df['Petal Length - 5'] = df['Petal Length'].sub(5)```

If I wanted to multiply all values in the Petal Length column by 5 (in a new column called ```'Petal Length * 5'```, either:
- ```df['Petal Length * 5'] = df['Petal Length'] * 5```
- ```df['Petal Length * 5'] = df['Petal Length'].mult(5)```

If I wanted to divide all values in the Petal Length column by 5 (in a new column called ```'Petal Length / 5'```, either:
- ```df['Petal Length / 5'] = df['Petal Length'] / 5```
- ```df['Petal Length / 5'] = df['Petal Length'].div(5)```

In all the cases above, the two lines of code will produce the equivalent output, however the built in functions (the second option in all cases) also provides functionality to fill values if there is missing data within the dataframe.

In the cell below, subtract 3.0 from the ```'Sepal Length'``` column and save the output to a new column called ```'SepalLength-3'```:

In [7]:
### column operations

Similarly, columns can be added, subtracted, multiplied and divided together in order to perform column-wise calculations. 

For example: 
- ```df['add_col'] = df['columnA] + df['columnB']```
- ```df['subtract_col'] = df['columnA] - df['columnB']```
- ```df['multiply_col'] = df['columnA] * df['columnB']```
- ```df['divide_col'] = df['columnA] / df['columnB']```


A good example in this case would be to calculate the approximate area of a petal (with the incorrect assumption that a petal is rectangular!) 

In the cell below, create a new column called ```'PetalArea'``` that is created by multiplying ```'Petal Length'``` and ```'Petal Width'``` together:

In [8]:
#Create a column called 'Petal Area'

### **Selecting data using ```.loc``` and ```.iloc```**

Using more Pandas built-in functions, you cant select data out of the larger dataframe based on the index value, the integer row or column value or if a specific condition has been met.

The first of these functions is the ```.iloc``` function. This function selects data from the dataframe based on its integer position on each axis and looks like this generally:

```df.iloc[row_value, column_value (if needed)]```

If I wanted to select a specific row from our dataframe - say row 3 - I could run the code ```df.iloc[3]``` and because we want the data from all columns there is no need to specify a column value.

If I wanted to select a specific column from the dataframe - column 2 for example - I would have to run ```df.loc[:, 2]```, as a row_value needs to be specified. But in this case, we can use ```:``` to mean 'all rows', whilst the ```2``` selects the correct column.

In the cell below, use the ```.iloc``` function to select the value within the Iris dataframe that occurs at row=76, column=3:

In [9]:
#Select Row 76, Column 3 using .iloc, it should return a single value

```.iloc``` can also be used to select larger slices of the dataframe based upon the integer position in the axis. 

For example, if we wanted to choose multiple rows - we can pass a list (ie. ```[1,23,41,56]```) to the row_value parameter, and the same can be done for column values. We can also choose numbers within a range (by using ```:``` again!). 

For example, if we wanted to return all rows between row _a_ and row _b_, we would run ```df.iloc[a:b]```, and again this can work for column values as well. 

In the cell below, return all rows between row 45 and row 55:

In [10]:
#Return all rows between cell 45 and cell 55

### **Using ```groupby``` and ```agg```**

When exploring a dataset, the ```groupby``` function is useful as it allows us to group our data based off different features within the dataset itself. 

You can group the dataset based on the values found in a specific column of the dataset. For example, if we wanted to group the dataframe based on values in a column called 'Name', we would run ```df.groupby('Name')```. 

Within the Iris dataset that we are working on, we could try to group based on the 'Species' column. The code to do this can be found in the cell below - run it to see what is returned.

In [11]:
df.groupby('Species')

However, as you can see, rather than returning the grouped data, it has returned a _DataFrameGroupBy_ object. This shows that the groupby function has worked, however it won't return the data until it knows what we want to do with it - and this is where **aggregation** functions come in.

There are a number of built-in aggregation functions that can be used alongside ```df.groupby``` in order to return a dataframe of the function calculations, these include:
- ```count()``` - count the number of values per 'group'.
- ```sum()``` - sum the values of another feature (column) per group. ie. add all values together in a single group.
- ```mean()``` - take the mean of values of another feature (column) per group.
- ```median()``` - take the median of values of another feature (column) per group

For example, in the cell below, the code will return a dataframe that counts the number of occurences of each Species in the Iris dataset, run it below to see the output:

In [13]:
df.groupby('Species').count()

                 Petal Length  Petal Width  Sepal Length  Sepal Width
Species
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In this case, because be have not specified a feature (column) to run the aggregate function on, the ```count()``` function is applied to all columns in the dataframe. In order to apply this to a specific column, we can use Pandas indexing to specify the column we would like to use. 

For example, ```df.groupby('Species')['Petal Width'].count()```. As can be seen in the cell below, this returns a Series object, with the count specifically referring to the column specified.

In [15]:
df.groupby('Species')['Petal Width'].count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Petal Width, dtype: int64

This is also how we would approach using the other aggregate functions. If, for example, we wanted to find the mean of the 'Sepal Length' by 'Species' within the Iris dataset, the code would be in the same format: ```df.groupby('Species')['Sepal Length'].mean()```

In the cell below, find the median value of 'Petal Width' by 'Species' using the ```groupby``` function.

In [ ]:
#Find the median value of Petal Width by Species

**```.agg()``` Function**

Further to this, the ```.agg()``` function can be used to both apply multiple functions at once to the data or apply new functions that we have created to the data in the same way that we applied ```mean()``` and ```median``` to the data above. It can also be used in conjunction with the ```groupby()``` function. 

In order to apply multiple functions to the data, we can use pass a list to the ```.agg()``` function with the string name of the functions you would like to apply.

For example, if we wanted to find the minimum and maximum values of 'Petal Length' of each 'Species' in the dataset, we can run the code:

```df.groupby('Species')['Petal Length'].agg(['min', 'max'])```

Run this code in the cell below to see the output:

In [ ]:
df.groupby('Species')['Petal Length'].agg(['min', 'max'])

In [17]:
#Run the code above to get the Minimum and Maximum values found in 'Petal Length'

Additionally, we can also apply diffrent aggregations to different columns all at once, and we can do this by passing a dictionary object to the ```.agg()``` function.

The format of the dictionary that we pass would be similar to this example below:
```
example_dict = {
                'column_name' : function,
                'column_name2' : [can, also, pass, a, list, of, functions]
                }
```
As you can see in the example, by using a dictionary we can pass different functions to different columns, but also apply multiple functions to a single column all at the same time. For example, if we wanted to find the mean of the 'Petal Width' per species, but also wanted to find the minimum and maximum values found in the 'Sepal Length' column per Species, we could run:

```
df.groupby('Species').agg(
            {
            'Petal Width': 'mean',
            'Sepal Length': ['min', 'max']
            }
            )
```
Run this code in the cell below to find the output

In [20]:
df.groupby('Species').agg(
            {'Petal Width': 'mean',
             'Sepal Length': ['min', 'max']}
            )

                Petal Width Sepal Length
                       mean          min  max
Species
Iris-setosa           3.418          1.0  1.9
Iris-versicolor       2.770          3.0  5.1
Iris-virginica        2.974          4.5  6.9

Using this method, in the cell below, find the:
- sum of 'Petal Width' values per 'Species'
- mean and median of the 'Sepal Length' values per Species

In [21]:
#Find the above values in this cell

The ```.agg()``` function does not need to be used in conjunction with ```groupby``` and can be used and applied to the entire dataset at once. For example, to find the minimum value and mean of each column, we could run: ```df.agg(['min', 'mean'])``` passing a list in the same way we did above to the grouped data.```

Run this code in the cell below to see the output:

In [22]:
df.agg(['min', 'mean'])

      Petal Length  Petal Width  Sepal Length  Sepal Width      Species
min       4.300000        2.000      1.000000     0.100000  Iris-setosa
mean      5.843333        3.054      3.758667     1.198667          NaN

Using the same code format seen above (ie. passing a dictionary) - in the cell below, find:
- sum of 'Petal Width' values per 'Species'
- mean and median of the 'Sepal Length' values per Species

and find the output

In [23]:
#Find the values listed above (hint: apply .agg directly to the df, no need to use groupby - you can use the same dictionary as above)

      Petal Width  Sepal Length
mean        3.054           NaN
min           NaN           1.0
max           NaN           6.9

Additionally, the ```.agg()``` function, allows us to pass our own custom functions (or functions from other packages such as ```numpy```) and return the answers as we have done with the 'min', 'median' 'sum' etc in the examples above. However, at the moment we will not look into this. 

Next, we will look at ```.apply()``` and ```lambda``` functions

### ```.apply()``` and ```lambda``` functions

The ```.apply()``` function can be used to apply a single function along an axis within a DataFrame. This is a much more efficient way of apply a function to every row, or every column, than a ```for loop```. 

The standard format of applying an apply function is: ```df.apply(function, axis)```. In this case the axis value can be either 0 (across columns) or 1 (across rows).

In the cell below, we use this format to apply the numpy square root function to every row of the DataFrame. In order to do this, I will create and use a new dataframe (called ```test_df```) with only the numerical columns, as ```np.sqrt``` (the numpy square root function) will not work for the Species column.

In [29]:
#apply the np.sqrt function to every row in the DataFrame
import numpy as np

test_df = df[['Petal Width', 'Petal Length', 'Sepal Width', 'Sepal Length']].copy() #This copies the columns listed from df to a new test_df

#Next, use the apply function to apply np.sqrt to every row in the Dataframeabs
test_df.apply(np.sqrt, axis=1)

     Petal Width  Petal Length  Sepal Width  Sepal Length
0       1.870829      2.258318     0.447214      1.183216
1       1.732051      2.213594     0.447214      1.183216
2       1.788854      2.167948     0.447214      1.140175
3       1.760682      2.144761     0.447214      1.224745
4       1.897367      2.236068     0.447214      1.183216
..           ...           ...          ...           ...
145     1.732051      2.588436     1.516575      2.280351
146     1.581139      2.509980     1.378405      2.236068
147     1.732051      2.549510     1.414214      2.280351
148     1.843909      2.489980     1.516575      2.323790
149     1.732051      2.428992     1.341641      2.258318

[150 rows x 4 columns]

As you can see, every value in the DataFrame, on every row, has had the square-root function applied to it.